@import url(./modern-normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');


:root{
    --color-bg:rgb(37, 52, 61);
    --color-black:rgb(20, 33, 37);
    --color-x:rgb(216, 82, 82);
    --color-o:rgb(62, 134, 216);
    --color-gold:rgb(238, 153, 57);
    --color-cell:rgb(58, 93, 114);
    --color-cell-lighter:rgb(58, 117, 145);
    --color-cell-darker:rgb(22, 41, 51);
    --color-button-clear:rgb(230, 185, 61);
    --color-button-clear-dark:rgb(182, 127, 46);
    --color-button-clear-hover:rgb(163, 108, 24);
    --color-button-reset:rgb(223, 106, 51);
    --color-button-reset-dark:rgb(165, 57, 30);
    --color-button-reset-hover:rgb(167, 54, 26);
    --color-popup: rgb(240, 165, 52);
    --color-popup-shadow: rgb(230, 59, 59);

    --gap: 0.7rem;
}

*{
    font-family: "Smooch Sans", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

body{
    background-color: var(--color-bg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.blockerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    font-size: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 10px;
    z-index: 100;
    animation: get-ready 2s ease-out;
    overflow: hidden;
}

.blockerText{
    font-size: 5rem;
}

@keyframes get-ready {
    0%{
        transform: scale(0);
    }
    20%{
        transform: scale(1.2);
    }
    80%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

blocker{
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 32, 46, 0.5);
    overflow: hidden;
}

.blockerAnim{
    animation: hide-blocker 2.5s ease-out;
}

[shown="true"]{
    display: flex;
}

[shown="false"]{
    display: none;
}

@keyframes hide-blocker{
    60%{
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
}

.blockerIcon{
    text-shadow: var(--color-black) 0px 5px;
}

.dialogText, .blockerText{
    font-weight: 900;
    color: var(--color-popup);
    text-shadow: var(--color-popup-shadow) 0px 5px;
    text-transform: uppercase;
}

dialog[open]{
    opacity: 1;
}

dialog{
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
    border-style: none;
    overflow: hidden;
    opacity: 0;
    transition: 1s allow-discrete;
}

::backdrop{
    background-color: var(--color-black);
    opacity: 0.5;
}


@starting-style {
    dialog[open]{
        opacity: 0;
    }
}

.game{
    display: grid;
    max-width: 700px;
    grid-template-columns: 1fr repeat(2, 3fr) 1fr;
    grid-template-rows: 0fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap:20px;
}

.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:var(--gap);
    padding: 0.5rem;
    font-size: 5rem;
    font-weight: 600;
    opacity: 0.5;
    transition: 1s;
}

.playerOneScore, .playerTwoScore{
    font-size: 3rem;
    font-weight: 800;
}

.activePlayer{
    height:100%;
    background: linear-gradient(var(--color-black), rgba(0,0,0,0) 80%);
    opacity: 1;
    border-radius: 1rem;
    transition: 1s;
    transform: scale(1.1);
}

.activeWon{
    transition: 1s;
    animation-name: active-won;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes active-won{
    from{
        /* background-color: var(--color-black); */
        transform: scale(1);
    }
    to{
        /* background-color: var(--color-gold); */
        transform: scale(1.1);
    }
}

.left{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    color: var(--color-x);
}

.right{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    color: var(--color-o);
}

.winX{
    color: var(--color-x);
}

.winO{
    color: var(--color-o);
}

.fa-circle-radiation{
    color: var(--color-x);
}

.fa-heart{
    color: var(--color-o);
}

.bottom{
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:var(--gap);
    transition: 1s;
    height: 100%;
}

.container{
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    display: grid;
    aspect-ratio: 1/ 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:var(--gap);
}

.cell{
    padding: 0.5rem;
    aspect-ratio: 1 / 1;
    display: flex;
    background-color: var(--color-cell);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    border-radius: 1rem;
    box-shadow: var(--color-cell-darker) 0px 5px;
    animation: cell-anim 1s;
}

@keyframes cell-anim{
    from{
        opacity: 0;
        transform: translateY(-500px);
    }
    30%{
        transform: scale(1.2);
    }

    to{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@starting-style{
    .left{
        transform: translateX(-100px);
    }
    .right{
        transform: translateX(100px);
    }
    .bottom{
        opacity: 0;
        transform: translatey(100px);
    }
}

.cell:disabled{
    /* background-color: var(--color-cell-darker); */
    transform: scale(1);
}

.disabled{
    transform: scale(0.6) !important;
    transition: 1s;
}

.won{
    transform: scale(1.1);
    background-color: var(--color-cell-darker) !important;
    border-style: solid;
    border-color: var(--color-cell-lighter);
    border-width: 0.2rem;
    transition: 1s;

    animation-name: cell-won;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes cell-won{
    from{
        border-color: var(--color-cell);
        transform: scale(1);
    }
    to{
        border-color: var(--color-gold);
        transform: scale(1.1);
    }
}

button{
    border-style: none;
    border-radius: 0.5rem;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--color-black);
    transition-property: all;
    transition-duration: 0.2s;
}

button:active{
    transform: translateY(5px) scale(0.9);
}

button.clear, button.reset{
    font-size: 1.6rem;
    padding: 0.8rem;
    height: 60%;
    width: 100%;
}

button.cell:active{
    box-shadow: var(--color-cell-darker) 0px 0px;
}


button.clear{
    background-color: var(--color-button-clear);
    box-shadow: var(--color-button-clear-dark) 0px 5px;
}

button.clear:active{ 
    box-shadow: var(--color-button-clear-dark) 0px 0px;
}

button.reset{
    background-color: var(--color-button-reset);
    box-shadow: var(--color-button-reset-dark) 0px 5px;
}

button.reset:active{ 
    box-shadow: var(--color-button-reset-dark) 0px 0px;
}

@media (any-hover: hover) {
    button:hover{
        opacity: 0.7;
        transition: 0.3s;
    }
}

@media (max-width: 600px){
    .game{
        padding: 20px 0px;
        max-height: 100vh;
        width: 90vw;
        grid-template-columns: 0fr repeat(2, 3fr) 0fr;
        grid-template-rows: 1fr 3fr 1fr;
    }

    .left, .right{
        padding-top: 1rem;
        font-size: 4rem;
    }

    .playerOneScore, .playerTwoScore{
        font-size: 3rem;
    }
    .left{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .right{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}

@media (max-width: 370px){
    .cell{
        font-size: 3rem;
    }
}

@media (max-width: 260px){
    .cell{
        font-size: 2.5rem;
    }
}